
@media screen and (min-width: 768px) {
    .about__items {
        display: flex;
        position: absolute;   
        justify-content: center;
        width: 810px;
        height: 810px;
    }

    .about__item {
        display: flex;
        position: absolute; 
        justify-content: center;
        align-items: flex-start;
        height: 400px;
        margin: 0;
        transform-origin: bottom center;
    }

    .about__link {
        display: grid;
        grid-template-areas:
			'. top .'
			'left description right'
			'. bottom .'; 
        gap: 35px 25px;
        justify-items: center;
        position: absolute;
    } 

    .about__link--right {
        top: 60px;
        left: calc(50% - 60px);
        transform-origin: 60px center;
    }

    .about__link--left {
        top: 60px;
        right: calc(50% - 60px);
        transform-origin: calc(100% - 60px) center;
    }

    .about__description {
        grid-area: description;
        left: auto;
    }

    .about__description--top, .about__description--bottom {
        text-align: center;
    }

    .about__description--left {
        text-align: right;
    }

    .about__icon-container{
        width: 60px;
        height: 60px;
    }

    .about__icon-container--bottom {
        grid-area: bottom;
    }

    .about__icon-container--left {
        grid-area: left;
    }

    .about__icon-container--top {
        grid-area: top;
    }

    .about__icon-container--right {
        grid-area: right;
    }

 .about__description--right, .about__description--left {
        padding-top: 10px;
    }

}

@media screen and (min-width: 1024px) {
    .about__items {
        width: 825px;
        height: 825px;
    }

    .about__link {
        gap: 16px;
    }

    .about__link--right {
        top: 40px;
        left: calc(50% - 40px);
        transform-origin: 40px center;
    }

    .about__link--left {
        top: 40px;
        right: calc(50% - 40px);
        transform-origin: calc(100% - 40px) center;
    }

    .about__description--right, .about__description--left {
        padding-top: 20px;
    }
}

@media screen and (min-width: 1340px) {

    .about__description {
        white-space: nowrap;
        min-width: auto;
    } 
}


