.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 22px;
  letter-spacing: -1px;
}

.description {
  font-size: 18px;
  font-weight: 300;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 18px;
    letter-spacing: -1px;
  }

  .description {
    font-size: 16px;
    font-weight: 300;
  }
}

